body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center; /* Căn giữa nội dung */
}

.logo {
    max-width: 50px; /* Kích thước tối đa của logo */
    margin-bottom: 20px; /* Khoảng cách dưới logo */
}

h2 {
    margin-bottom: 20px;
    color: #258e01;
}

.form-group {
    margin-bottom: 15px;
    text-align: left; /* Căn trái cho các label và input */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #258e01;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #258e01;
}